@import url('https://fonts.googleapis.com/css?family=Roboto:100');


/* Navigation styling */
.navbar {
    margin:0;
}


.navigation
{
    background-color: #e7e7de;
}


ul.nav a 
{
    font-family: Avenir;
    font-weight: 200;
    margin-top: 1.4em; 
    text-decoration: none;
    color: #242424;
}

.nav-link
{
    font-size: 1.5vw;
}

.socikon
{
    margin-top: 3.4em;
    max-width: 60px;
}

#mammislogo {
    height: 4em;
    margin-top: -0.5em;
}
/* End og Navigation styling */




/* Index styling */


body {
    overflow-x: hidden;
    background-color:#f3f3df;
}
#mammisvideo
{
    z-index: -3;
    padding-right: 0;
    padding-left: 0;
}

#mammisAabning {
   padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    display:block;
}

.firstRow {
    max-height: 85%;
    margin-top: -4.7em;
}

#indexBottom{
    height:12em;
    margin:0;
}

.container-fluid.full-width
{
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    margin-top:-5%;
    position:fixed;
}

#muteButton {
   margin-left:10px;
    margin-top: 0;
    z-index: 2;
    position:relative;
}


.mute-video {
    background:url(https://image.flaticon.com/icons/svg/148/148763.svg) no-repeat center;
    background-size:42px;
    border:0;
    width:42px;
    height:42px;
    text-indent:-999px;
    z-index: 2;
}
.unmute-video {
    background:url(https://image.flaticon.com/icons/svg/148/148759.svg) no-repeat center;
    background-size:42px;
    border:0;
    z-index: 2;
}

/* End of Index Styling */



/* Gelato Styling */


.hOneRoboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align:center;
}

.gelatoText {
    font-family: avenir;
    font-size: 130%;
}

.gelatoInText {
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight:450;
}

.neutralBackground {
    background-color:#f3f3df;
    padding-bottom: 25vh;
    margin-top: -1.5em;
}

#seksGode {
    text-align: center;
    background-color:#f490ac;
    padding-bottom:20%;
    padding-top:10%;
    color:white;
}

.seksGodeGrunde {
    background-color:#f3f3df;
    padding-top:2vh;
    padding-left: 2vh;
    padding-right:2vh;
    padding-bottom: 1vh;
    margin-top: -2.8vh;
    margin-right: -2vh;
    margin-left: -2vh;
}

.seksGrunde {
    text-align: center;
    font-family: Avenir;
    margin-right: 1em;
    margin-left: 1em;
}

#mindreFedt {
    background-color: #a8d2f0;
    color:#fff097;
    padding-top: 7.5vh;
    padding-bottom: 10vh;

}

#mindreLuft {
    background-color: #95ce8e;
    color:#f490ac;
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}

#faerreKalorier {
    background-color: #fff097;
    color:#a8d2f0;
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}

#kunstigeFarvestoffer {
    background-color: #fff097;
    color:#a8d2f0;
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}

#proteiner {
    background-color: #f490ac;
    color: white;
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}

#godtHumoer {
    background-color: #a8d2f0;
    color:#fff097;
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}
/* End of Gelato Styling */

/* Start Produkt Styling */

#produktTavle {
    margin-top: -20px;
}

.underBilleder {
    background-color:#f3f3df;
    padding:10px;
}
/* End Produkt Styling */

/* Start Om os Styling */
.omosContent {
    height:92vh;
    width:auto;
    background-color:#f3f3df;
    margin:-20px;
    padding:1vw;
}

/* End Om os Styling */