@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.navbar {
    margin-bottom: 0;
    z-index:1;
}

.navigation
{
    background-color: #e7e7de;
}


ul.nav a 
{
    font-family: Avenir;
    font-weight: 200;
    margin-top: 1.8em; 
    text-decoration: none;
    color: #242424;
}

.nav-link
{
    font-size: 180%;
}

.socikon
{
    margin-top: 4em;
    max-width: 60px;
}




#mammisvideo
{
    overflow:hidden;
    padding-top: -60px;
    margin-top: -90px;
    margin-bottom: -200px;
    z-index:-2;
}

.container-fluid.full-width
{
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}


#muteButton {
   margin-left:0;
    margin-top: 0;
}
.mute-video {
    background:url(http://cdn.flaticon.com/png/64/60750.png) no-repeat center;
    background-size:42px;
    border:0;
    width:42px;
    height:42px;
    text-indent:-999px;
    z-index: 2;
}
.unmute-video {
    background:url(http://cdn.flaticon.com/png/64/498.png) no-repeat center;
    color:white;
    background-size:42px;
    border:0;
    z-index: 2;
}